# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Kotlin files
[*.kt]
ij_kotlin_packages_to_use_star_imports = java.util.*,kotlinx.io.Closeable
max_line_length = 120
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

# Kotlin script files
[*.kts]
ij_kotlin_packages_to_use_star_imports = java.util.*,kotlinx.io.Closeable
max_line_length = 120
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

# Properties files
[*.properties]
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Gradle files
[*.gradle]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false
